{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <title>Cygnature</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body data-new-gr-c-s-check-loaded="14.1108.0" data-gr-ext-installed="">
<div id="root">
    <div class="App">
        <header id="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container"><a href="#home" class="navbar-brand">Cygnature</a>
                    <button aria-controls="basic-navbar-nav" type="button" aria-label="Toggle navigation"
                            class="navbar-toggler collapsed"><span class="navbar-toggler-icon"></span></button>
                    <div class="navbar-collapse collapse" id="basic-navbar-nav">
                        <div class="me-auto navbar-nav" id="navbar">
                            <ul id="navlist">
                                <li><a href="/" style="margin-left: 5px;">Home</a></li>
                                <li><a href="/search" style="margin-left: 5px;">Books</a></li>
                                <li><a href="/about" style="margin-left: 5px;">AboutUs</a></li>
                                <li>
                                    {% if request.user.email %}
                                        <a href="/auth/logout" style="margin-left: 5px;">Logout</a>
                                    {% else %}
                                        <a href="/auth/login" style="margin-left: 5px;">Login</a>
                                    {% endif %}
                                </li>
                                <li><a class="karticon" href="/kart" style="margin-left: 5px;"><i class="fa-solid fa-cart-shopping"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main class="my-5 py-5 h-75">
            <div class="row">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
            </div>
            <div class="p-3 row">
                <div class="col-6">
                    <form action="/auth/login" method="post">
                        {% csrf_token %}
                        <div class="w-100 py-2">
                            <input type="text" name="username" placeholder="User Name" required>
                        </div>
                        <div class="w-100 py-2">
                            <input type="password" name="password" placeholder="Password" required class="w-100 p-2">
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                </div>
                <div class="col-6">
                    <form action="/auth/register" method="post">
                        {% csrf_token %}
                        <div class="w-100 py-2">
                            <input type="text" name="name" placeholder="Name" required>
                        </div>
                        <div class="w-100 py-2">
                            <input type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="w-100 py-2">
                            <input type="tel" name="phone" placeholder="Phone" required>
                        </div>
                        <div class="w-100 py-2">
                            <input type="text" name="username" placeholder="Create User Name" required>
                        </div>
                        <div class="w-100 py-2">
                            <input type="password" name="password" placeholder="Password" required class="w-100 p-2">
                        </div>
                        <div class="w-100 py-2">
                            <input type="password" name="confirm_password" placeholder="Confirm Password" required
                                   class="w-100 p-2">
                        </div>
                        <div class="w-100 py-2 my-2">
                            <input type="checkbox" name="toc" placeholder="Privacy Policy" required>
                            <label for="toc">I agree to the <a href="/toc">Terms of Service</a> and <a href="/privacy">Privacy
                                Policy</a></label>
                        </div>
                        <button class="btn btn-primary" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </main>
        <footer id="footer">
            <div class="footer container-fluid">
                <div class="row">
                    <div class="col-sm-4"><h2>Need help ?</h2>
                        <ul class="footer-link">
                            <li><a href="">India: +91 8547575063</a></li>
                            <li><a href="">email: Cygnature@gmail.com</a></li>
                            <li><a href="">Contact &amp; Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">© 2023 Cygnature. All Right Reserved.</div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
